.container-time {
    margin: 20px;
    /* border: 1px solid red; */
    background-color: #107553;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 50px;
}

.card-time {
    border: 1px solid red;
    display: flex ;
    padding: 20px;
}

.imagem-logo {
    margin: 20px;
}

.imagem-logo img {
    height: 200px;
    width: 200px;
}


.descricao {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    padding: 20px;
    font-size: 20px;
}

