.conteudo {
    border: 1px solid red;
    margin: 10px 0px 0px 0px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.contato {
    margin: 0px 20px;
    background-color: #107553;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
}

.fale-conosco {
    border: 1px solid blue;
}

.logo-contato img {
    width: 200px;
    height: 200px;
}

.formulario-contato {
    border: 1px solid red;
}